.TaskContainer {
  padding: 0.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #8f8f8f;

  h2 {
    font-size: 1.15rem;
    font-weight: 500;
  }

}

.TaskContent {
  width: 88%;

  display: flex;
  justify-content: space-between;
}
