.ChatContent {
  padding: 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: #ececec;
  border-radius: 0.5rem;
  overflow-y: auto;
}

.ChatContentNotStarted {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  flex: 1;

  background: #ececec;
  border-radius: 0.5rem;
  color: #000;
  text-align: center;

  img {
    max-width: 200px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

%BaseMessage {
  width: 100%;

  display: flex;
  flex-direction: column;

  span {
    font-size: 0.75rem;
    opacity: 0.7;
  }

  div {
    padding: 0.5rem 1rem;
    width: fit-content;

    border-radius: 0.5rem;
  }
}

.BotMessage {
  @extend %BaseMessage;

  justify-content: flex-start;

  div {
    background: #2C2C2C;
  }
}

.ClientMessage {
  @extend %BaseMessage;
  position: relative;

  align-items: flex-end;
  text-align: right;

  div {
    background: #513DFF;
  }

}
