.TaskProgressContainer {

  padding: 0.25rem;

  display: flex;
  align-items: center;

  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;

  p {
    display: flex;
    gap: 0.25rem;
    align-items: center;


    font-size: 0.75rem;
    font-weight: bold;
  }

}

.TaskCompleted {
  background: #eefff5;

  p {
    color: #85e42c;
  }
}


.TaskToDo {
  background: #f5f5f5;
}
