.HomeContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.HomeHeader {
  padding: 1rem ;
  width: 100%;

  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 0.5rem;
  color: #000;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-weight: 500;
    opacity: 0.7;
  }
}

.TaskSumary {
  display: flex;

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
}





