.HomeContent {
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;

  background: #fff;
  border-radius: 0.5rem;
  color: #000;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.HomeContentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeContentTasksEmpty {
  padding: 2rem 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0.7;

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
  }

}

.HomeContentTasks {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.TaskDivider {
  width: 100%;
  height: 1px;

  background: #b6b6b6;
  opacity: 0.5;
}
