.HomeContent {
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;

  background: #fff;
  border-radius: 0.5rem;
  color: #000;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.HomeContentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeContentTasks {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.TaskDivider {
  width: 100%;
  height: 1px;

  background: #b6b6b6;
  opacity: 0.5;
}
