.LoginContainer {
  height: 100vh;
  margin: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  background: #1a1a1aff;

}

.H1 {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.Divider {
  max-width: 300px;
  width: 100%;
  height: 2px;

  background-color: white;
}


