.ChatContainer {
  max-width: 500px;
  width: 100%;
  min-height: 100dvh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #1f1f1f;
  border-left: 2px solid #474747 ;
  overflow: hidden;
}

.ChatHeader {
  padding: 0.65rem;

  display: flex;
  justify-content: center;

  background: #ebebeb;

  h1 {
    color: #4044c9;
    font-size: 1.55rem;
  }
}

.ChatField {
  padding: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.InputField {
  background: #111111;
}

.SendButton {
  padding: 0.5rem;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #111111;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;

  }
}
