.ChatContainer {
  padding: 1rem;
  max-width: 400px;
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}

.ChatHeader {
  display: flex;
  flex-direction: column;

  h1 {
    color: #000000;
    font-size: 1.55rem;
  }

  p {
    color: #b4b4b4;
  }
}

.ChatField {
  padding-right: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: #dadada;
  border-radius: 0.5rem;
}

.InputField {
  color: #000000;

}

.SendButton {
  padding: 0.25rem;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #111111;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
