.HomeContainer {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #513DFF;
}

.HomeHeader {
  padding: 1rem 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    font-size: 1rem;
    font-weight: bold;
  }
}

.TaskSumary {
  display: flex;

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.HomeContent {
  padding: 2rem 4rem;
  width: 100%;
  max-height: 890px;

  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  background: #424242;
  overflow-y: auto;
}

.HomeContentTasks {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
  }
}




