.TaskActionsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.TaskActionsTrigger {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
    scale: 1.1;
  }
}

%BaseButton {

  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
    scale: 1.1;
  }
}

.EditButton {
  @extend %BaseButton;


}

.ConfirmButton {
  @extend %BaseButton;

  background: rgb(69, 189, 69);
  color: #fff;
}

.DeleteButton {
  @extend %BaseButton;

  color: #252525;

  &:hover {
  color: #ff0000;
  }
}

.TaskActionsContent {
  background: #fff;
}
