.TaskActions {
  min-height: 120px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

%BaseButton {
  padding: 0.5rem;

  border: 1px solid #3d3d3d55;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.EditButton {
  @extend %BaseButton;


}

.ConfirmButton {
  @extend %BaseButton;

  background: rgb(69, 189, 69);
  color: #fff;
}

.DeleteButton {
  @extend %BaseButton;

  background: rgb(243, 69, 69);
  color: #fff;
}
