.InputWrapper {
  width: 100%;

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input {
    padding: 0.5rem;
    width: 100%;

    border-radius: 0.5rem;
    opacity: 0.7;
    transition: all 0.3s ease;

    &:focus {
      opacity: 1;
    }
  }
}
