.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  input {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;

    background: #fff;
    border-radius: 0.5rem;
    color: #000;
  }

  button {
    padding: 0.5rem 0.75rem;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;

  &:hover {
    background: #000;
    border-color: #444444;
    color: #fff;
    opacity: 1;
  }
  }

}

.ModalTriggerButton {
  padding: 0.5rem 0.75rem;

  color: #000;
  border: 1px solid #000;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    background: #000;
    color: #fff;
    opacity: 1;
  }
}
